@import 'leftSideBar';

$red: #fb565a;
$green: #00ca74;
$yellow: #efc849;

%clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

// site styles

body {
	min-width: 1200px;
	margin: 0;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.visually_hidden {
	display: none;
}

.main-header {
	background-color: #eee;
}

.logo {
	padding-top: 49px;
}

.btn {
	display: block;
	padding-top: 17px;
	padding-bottom: 15px;
	border-radius: 3px;
	background-color: $red;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 16px;
	line-height: 18px;
}

.main-navigation {
	display: flex;

	&__list {
		margin: 0;
		padding: 0;
		padding-top: 76px;
		list-style-type: none;
		font-size: 0;

		li {
			display: inline-block;
			font-size: 16px;
			line-height: 30px;
			text-transform: uppercase;
		}

		a {
			display: block;
			text-decoration: none;
			color: black;
		}
	}
}

.site-navigation {
	margin: 0 auto;

	a {
		padding: 0 25px;
	}
}

.user-navigation {
	width: 160px;
	text-align: right;
}

// slider

.feature {
	background-color: #eeeeee;
	position: relative;

	&__radio-block {
		position: absolute;
		left: 50%;
		bottom: 96px;
		transform: translateX(-50%);
	}

	&__left-block {
		width: 520px;
	}

	&__title {
		margin: 0;
		padding-top: 78px;
		font-size: 55px;
		line-height: 55px;
	}

	&__info {
		margin-top: 26px;
		margin-bottom: 39px;
		padding: 0;
	}
	
	&__btn {
		width: 240px;
	}
	
	&__section {
		display: none;
		width: 100%;
		min-height: 430px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top right;
	}

	&__section-1 {
		background-image: url('../img/feature-1.jpg');
	}

	&__section-2 {
		background-image: url('../img/feature-2.jpg');
	}

	&__section-3 {
		background-image: url('../img/feature-3.jpg');
	}

	&_active {
		display: block;
	}
}

/*Products block*/

.products-wrapper {
	@extend %clearfix;
}

.product {
	float: left;
	max-width: 300px;
	margin-top: 80px;
	margin-right: 100px;

	&:last-child {
		margin-right: 0;
	}

	&__button {
		width: 160px;
		margin-bottom: 80px;

		&_app {
			background-color: $green;
		}

		&_presentation {
			background-color: $yellow;
		}
	}

	&__title {
		margin-top: 19px;
		margin-bottom: 16px;
		font-size: 24px;
		font-weight: bold;
		line-height: 30px;
		text-transform: uppercase;
	}
	
	&__info {
		margin-bottom: 32px;
		padding-right: 40px;
	}

}